<div class="quiz-guide">{{quiz.guide}}</div>
<div class="step-main" *ngIf="isMainStep(step)">
  <ul>
    <li *ngFor="let option of quiz.content.select.options; let i = index" class="checkbox">
      <label>
        <input type="checkbox" name="optionsChecks" (change)="toggleOption(i)"> {{option}}
      </label>
    </li>
  </ul>
</div>
<div class="step-listening">
  <div class="quiz-content-audio" *ngIf="playAudio">
    <player
      [trackId]="quiz.content.audio"
      [play]="playAudio"
      (finish)="onFinish($event)"
    >
    </player>
  </div>
</div>
