<div class="quiz-guide">{{quiz.guide}}</div>
<div class="step-main" *ngIf="isMainStep(step)">
  <div class="quiz-content-text" *ngIf="quiz.content.text" [innerHTML]="quiz.content.text"></div>
</div>
<div class="step-listening">
  <div class="quiz-content-audio">
    <!-- <iframe [id]="scAudioPlayerId" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" [src]="quiz.content.audio | safe"></iframe> -->
    <player [trackId]="quiz.content.audio" (finish)="onFinish($event)"></player>
  </div>
</div>
<div class="quiz-answer">
  <textarea name="content" #elAnswer class="form-control" [disabled]="!isMainStep(step)" placeholder="Problem Sentences" title="Problem Sentences" rows="10" (keyup)="onChangeAnswerText(elAnswer.value)"></textarea>
  <div class="quiz-answer-footer">{{ 'Word count' | translate }}: <span>{{count}}</span><a (click)="onClickDownloadAnswerText(elAnswer.value)" style="float: right;">{{ 'Download answer text' | translate }}</a></div>
</div>
