<div class="quiz-guide">{{quiz.guide}}</div>
<div class="step-main" *ngIf="isMainStep(step)">
  <table>
    <tbody>
      <tr>
        <td style="width: 100%;">
          <div class="quiz-options">
            <div *ngFor="let option of options; let i = index" (click)="onSelectOption(i)" class="quiz-option" [ngClass]="{'selected' : selectedOptionNo === i}">{{option}}</div>
          </div>
        </td>
        <td>
          <table>
            <tbody>
              <tr>
                <td style="padding: 5px;">
                  <button class="btn btn-sm btn-success" (click)="onUpOption(selectedOptionNo)"><i class="fa fa-chevron-up fa-fw"></i></button>
                </td>
              </tr>
              <tr>
                <td style="padding: 5px;">
                  <button class="btn btn-sm btn-success" (click)="onDownOption(selectedOptionNo)"><i class="fa fa-chevron-down fa-fw"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
