app-exercise-single-rro .quiz-options {
  border: 1px solid #eff3f8;
  padding: 8px;
}

app-exercise-single-rro .quiz-options .quiz-option {
  border: 1px solid #428bca;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

app-exercise-single-rro .quiz-options .quiz-option.selected {
  background-color: #eff3f8;
  border-style: dashed;
}
