<app-header></app-header>
<section class="main-container">
    <div [@routerTransition]>
        <h3 class="page-title">User Manage <small> <a [routerLink]="['/']" style="text-decoration: none;"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i> Manage <a [routerLink]="['/manage']" style="text-decoration: none;"><i class="fa fa-angle-right"></i> User </a></small></h3>
        <hr/>            
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <div class="caption">
                            <i class="fa fa-user fa-fw"></i> User List
                        </div>  
                        <div class="actions">    
                            <a href="javascript:;" class="btn btn-default btn-sm" (click)="initUserPassword()">
                                <i class="fa fa-unlock-alt fa-fw"></i> Init Password </a>  
                        </div>
                    </div>
                    <div class="card-body">
                        <ng2-smart-table [settings]="gridsettings" [source]="userdatasource" (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>