<div class="fib-editor">
  <div class="fib-editor-header">
    <div *ngIf="editingText; then editing else exitedEditing"></div>
    <ng-template #editing>
      <button (click)="exitEditingText()">Exit</button>
    </ng-template>
    <ng-template #exitedEditing>
      <button (click)="startEditingText()">Insert Text</button>
      <button (click)="startInsertBlank()">Insert Blank</button>
    </ng-template>
  </div>
  <div class="fib-editor-body">
    <click-to-edit></click-to-edit>
  </div>
</div>
