.profile-userpic img {
	width: 128px !important;
	height: 128px !important;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
	width: 40px !important;
	height: 40px !important;
}