.cke_top, .cke_bottom {
	display: none !important;
}
/*.cke_reset_all.cke_1.cke_editor_ck_editor_dialog {
	display: none !important;
}*/
ul.navbar-nav {
	flex-direction: row !important;
}
li.nav-item.dropdown {
	margin-left: 15px;
} 