/*// shared css for the login and signup page
@import "../login/login.component.css";*/
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #f5f7fa;
    text-align: center;
    color: #656565;
    padding: 3em;
}
.navbar {
    background-color: #31bbe9;
}
.col-lg-4 {
    padding: 0;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
}
.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}
.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}


h1 {
    font-weight: 300;
    font-size: 36px;
    color: #fff;
    small {
        color: rgba(255, 255, 255, 0.7);
    }
}

.form-group {
    
}
.form-content {
    background-color: #fff;
    padding: 15px;
}
.pv {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #eaeaea;
}