<!-- BEGIN PAGE LEVEL STYLES -->
<link href="assets/pages/css/login3.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->

<div class="login">
    <div class="logo">
        <a href="index.html">
        <img src="/assets/layout/img/logo-big.png" alt=""/>
        </a>
    </div>

    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <form #userreg="ngForm" novalidate (ngSubmit)="onClickSubmit(userreg.value)" class="register-form">
            <h3>{{ 'Sign Up' | translate }}</h3>
            <p>
                {{ 'Enter your personal details below' | translate }}:
            </p>
            <div class="main-container">
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'First Name' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input name="first_name" class="form-control placeholder-no-fix" type="text" placeholder="{{ 'First Name' | translate }}" [ngModel]="user.first_name" required reverse="true" #first_name="ngModel">
                </div>
                <small [hidden]="first_name.valid || (first_name.pristine && !userreg.submitted)" class="text-danger">
                    <strong>{{ 'Please fill out this field.' | translate }}</strong>
                </small>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Last Name' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input name="last_name" class="form-control placeholder-no-fix" type="text" placeholder="{{ 'Last Name' | translate }}" [ngModel]="user.last_name" required reverse="true" #last_name="ngModel">
                </div>
                <small [hidden]="last_name.valid || (last_name.pristine && !userreg.submitted)" class="text-danger">
                    <strong>{{ 'Please fill out this field.' | translate }}</strong>
                </small>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Address' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-check"></i>
                    <input name="address" class="form-control placeholder-no-fix" type="text" placeholder="{{ 'Address' | translate }}" [ngModel]="user.address" required reverse="true" #address="ngModel">
                </div>
                <small [hidden]="address.valid || (address.pristine && !userreg.submitted)" class="text-danger">
                    <strong>{{ 'Please fill out this field.' | translate }}</strong>
                </small>
            </div>
            <p>
                {{ 'Enter your account details below' | translate }}:
            </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Email' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-envelope" style="font-size: 14px;"></i>
                    <input id="email" name="email" class="form-control placeholder-no-fix" type="email" placeholder="{{ 'Email' | translate }}" required [(ngModel)]="user.email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                </div>
                <small [hidden]="email.valid || (email.pristine && !userreg.submitted)" class="text-danger">
                    <strong>{{ 'Email is required and format should be' | translate }} <i>john@doe.com</i>.</strong>
                </small>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Password' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input #password="ngModel" type="password" class="form-control placeholder-no-fix" name="password" placeholder="{{ 'Password' | translate }}" [ngModel]="user.password" autocomplete="off" required reverse="true">
                </div>
                <small [hidden]="password.valid || (password.pristine && !userreg.submitted)" class="text-danger">
                    <strong>Please fill out this field.</strong>
                </small> 
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Confirm Password' | translate }}</label>
                <div class="input-icon">
                    <i class="fa fa-check"></i>
                    <input #confirmpassword="ngModel" type="password" class="form-control placeholder-no-fix" name="confirmpassword" placeholder="{{ 'Confirm Password' | translate }}" [ngModel]="user.confirmpassword" autocomplete="off" required reverse="true">
                </div>
                <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !userreg.submitted)" class="text-danger">
                    <strong>Please fill out this field.</strong>
                </small> 
            </div>
            <!-- <div class="form-group">
                <label>
                <input type="checkbox" name="tnc"/> I agree to the <a href="javascript:;">
                Terms of Service </a>
                and <a href="javascript:;">
                Privacy Policy </a>
                </label>
                <div id="register_tnc_error">
                </div>
            </div> -->
            <div class="form-actions">
                <button id="register-back-btn" type="button" class="btn" [routerLink]="['/login']">
                <i class="m-icon-swapleft"></i> {{ 'Back' | translate }} </button>
                <button type="submit" id="register-submit-btn" class="btn green-haze pull-right">
                {{ 'Sign Up' | translate }} <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div *ngIf="verifyflag">
                Hey {{username}}, Welcome to our website. <br>
                Please click <a href="javascript:void(0);" (click)="onClickVerify( code );"> Here</a> to confirm email
            </div>
        </form>
        {{onViewReady()}}
        <!-- END REGISTRATION FORM -->
            
    </div>

    <div class="copyright">
        2018 &copy; Quiz. {{ 'All Rights Reserved.' | translate }}
    </div>
</div>