/*!
 * 
 */

/* page layout */
/* Page title */
.page-title {
  padding: 0px;
  font-size: 1.5em;
  letter-spacing: -1px;
  line-height: 1.1;
  display: block;
  color: #666;
  margin: 0px 0px 15px 0px;
  font-weight: 600;/* subtitle */
}
.page-title small {
  font-size: 0.6em;
  letter-spacing: 0px;
  font-weight: 500;
  color: #888;
  margin: 0px 0px 0px 20px;
}

/* panel title */
.card-header {
    padding: 0.15rem 1.25rem;
}
.caption {
    font-size: 16px;
    float: left;
    display: inline-block;
    text-transform: uppercase !important;
    font-weight: 700 !important;
}

/* panel action */
.actions {
    float: right;
    display: inline-block;
}

/* 
 * normal 
 */
.inline {
    display: inline-block;
}
/* font color */
.font-green-sharp {
    color: #4DB3A2 !important;
}

/* */
.uppercase {
    text-transform: uppercase !important;
}

/* font weight */
.bold {
    font-weight: 700 !important;
}

/* button */
.btn.default {
    color: #333333;
    background-color: #E5E5E5;
}
.btn-sm, .btn-xs {
    padding: 4px 10px 5px 10px;
    font-size: 13px;
    line-height: 1.5;
}
.btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.purple.btn {
     color: #FFFFFF; 
     background-color: #8e5fa2; 
}

/* table */
table tr th {
    font-size: .875em;
    margin: 0;
    padding: .5em 1em;
    font-weight: 700;
}
th {
    text-align: inherit;
    color: #1e6bb8;
    text-decoration: none;
}
td {
  word-break: break-all;
}


/* input field */
.needfull {
  border: 1px solid #1e343a !important;
}

