<!-- BEGIN PAGE LEVEL STYLES -->
<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="assets/pages/css/profile.css" rel="stylesheet" type="text/css"/>
<link href="assets/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<div *ngIf="active_menu=='overview'">
     <app-header-overview [default]="'aboutus'"></app-header-overview>
</div>
<div *ngIf="active_menu=='student'">
     <app-header-student [default]="'aboutus'"></app-header-student>         
</div>
<div *ngIf="active_menu=='teacher'">
     <app-header-teacher [default]="'aboutus'"></app-header-teacher>         
</div>
<div *ngIf="active_menu=='manage'">
     <app-header-manage [default]="'aboutus'"></app-header-manage>         
</div>

<div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Profile <small>profile page</small></h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="#" [routerLink]="['/']">{{ 'Home' | translate }}</a>
                </li>
                <li class="active">
                    My Profile
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row margin-top-10">
                <div class="col-md-12">
                    <div class="main-container">
                    </div>
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar" style="width: 250px;">
                        <!-- PORTLET MAIN -->
                        <div class="portlet light profile-sidebar-portlet">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img *ngIf="userself.photo==null || userself.photo=='' || userself.photo=='null'" src="/assets/layout/img/avatar.png" class="img-responsive" alt="">
                                <img *ngIf="userself.photo!=null && userself.photo!='' && userself.photo!='null'" src="/upload/profile/{{userself.user_id}}/{{userself.photo}}" class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{userself.username}}
                                </div>
                                <div class="profile-usertitle-job">
                                    {{userpermission}}
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <!-- <div class="profile-userbuttons">
                                <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                                <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                            </div> -->
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <!-- <div class="profile-usermenu">
                                <ul class="nav">
                                    <li>
                                        <a href="extra_profile.html">
                                        <i class="icon-home"></i>
                                        Overview </a>
                                    </li>
                                    <li class="active">
                                        <a href="extra_profile_account.html">
                                        <i class="icon-settings"></i>
                                        Account Settings </a>
                                    </li>
                                    <li>
                                        <a href="page_todo.html" target="_blank">
                                        <i class="icon-check"></i>
                                        Tasks </a>
                                    </li>
                                    <li>
                                        <a href="extra_profile_help.html">
                                        <i class="icon-info"></i>
                                        Help </a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- END MENU -->
                        </div>
                        <!-- END PORTLET MAIN -->
                        <!-- PORTLET MAIN -->
                        <div class="portlet light">
                            <!-- STAT -->
                            <div class="row list-separated profile-stat">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="uppercase profile-stat-title">
                                        {{psvisitedcount}}
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Login Count
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title">
                                        {{psanswerquizcount}}
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Exercise Quiz
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title">
                                        {{psanswercount}}
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Exercise
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="uppercase profile-stat-title">
                                        {{psquizcount}}
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Quiz
                                    </div>
                                </div> -->
                            </div>
                            <!-- END STAT -->
                            <div>
                                <h4 class="profile-desc-title">About {{userself.username}}</h4>
                                <span class="profile-desc-text"> {{userself.summary}} </span>
                                <div class="margin-top-20 profile-desc-link">
                                    <i class="fa fa-globe"></i>
                                    <a href="http://{{userself.website_url}}">{{userself.website_url}}</a>
                                </div>
                                <!-- <div class="margin-top-20 profile-desc-link">
                                    <i class="fa fa-twitter"></i>
                                    <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
                                </div>
                                <div class="margin-top-20 profile-desc-link">
                                    <i class="fa fa-facebook"></i>
                                    <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                            </li>
                                            <!-- <li>
                                                <a href="#tab_1_4" data-toggle="tab">Privacy Settings</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <div class="tab-pane active" id="tab_1_1">
                                                <form role="form" #userprofile="ngForm" novalidate>
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" placeholder="John" class="form-control" [(ngModel)]="userself.first_name" name="first_name"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" placeholder="Doe" class="form-control" [(ngModel)]="userself.last_name" name="last_name"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Mobile Number</label>
                                                        <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control" [(ngModel)]="userself.phone" name="phone"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Interests</label>
                                                        <input type="text" placeholder="Design, Web etc." class="form-control" [(ngModel)]="userself.interest" name="interest"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Occupation</label>
                                                        <input type="text" placeholder="Web Developer" class="form-control" [(ngModel)]="userself.occupation" name="occupation"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">About</label>
                                                        <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!" [(ngModel)]="userself.summary" name="summary"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Website Url</label>
                                                        <input type="text" placeholder="http://www.mywebsite.com" class="form-control" [(ngModel)]="userself.website_url" name="website_url"/>
                                                    </div>
                                                    <div class="margiv-top-10">
                                                        <a href="javascript:;" class="btn green-haze" (click)="saveprofile(userprofile.value)">
                                                        Save Changes </a>
                                                        <a href="javascript:;" class="btn default">
                                                        Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END PERSONAL INFO TAB -->
                                            <!-- CHANGE AVATAR TAB -->
                                            <div class="tab-pane" id="tab_1_2">
                                                <p>
                                                     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                </p>                                                
                                                <p style="width: 100%;">
                                                    Select a Image (jpeg/jpg/png): 
                                                </p>
                                                <div class="dropzone" id="dzavatarfile"></div> 
                                                <div class="margin-top-10">
                                                    <a href="javascript:;" class="btn green-haze" (click)="uploadavatarfile()">
                                                    Save </a>
                                                    <a href="javascript:;" class="btn default">
                                                    Cancel </a>
                                                </div>
                                                
                                            </div>
                                            <!-- END CHANGE AVATAR TAB -->
                                            <!-- CHANGE PASSWORD TAB -->
                                            <div class="tab-pane" id="tab_1_3">
                                                <form role="form" #chgpwd="ngForm" novalidate>
                                                    <div class="form-group">
                                                        <label class="control-label">Current Password</label>
                                                        <input type="password" id="oldpwd" name="oldpassword" [(ngModel)]="userself.oldpassword" class="form-control" required reverse="true" #oldpwd="ngModel"/>
                                                        <small [hidden]="oldpwd.valid || (oldpwd.pristine && !chgpwd.submitted)" class="text-danger">
                                                            <strong>{{ 'Please fill out this field.' | translate }}</strong>
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">New Password</label>
                                                        <input type="password" id="newpwd" name="password" [(ngModel)]="userself.password" class="form-control" required reverse="true" #newpwd="ngModel"/>
                                                        <small [hidden]="newpwd.valid || (newpwd.pristine && !chgpwd.submitted)" class="text-danger">
                                                            <strong>{{ 'Please fill out this field.' | translate }}</strong>
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Re-type New Password</label>
                                                        <input type="password" id="confirmpwd" name="confirmpassword" [(ngModel)]="userself.confirmpassword" class="form-control" required reverse="true" #cfmpwd="ngModel"/>
                                                        <small [hidden]="cfmpwd.valid || (cfmpwd.pristine && !chgpwd.submitted)" class="text-danger">
                                                            <strong>{{ 'Please fill out this field.' | translate }}</strong>
                                                        </small>
                                                    </div>
                                                    <div class="margin-top-10">
                                                        <a href="javascript:;" class="btn green-haze" (click)="changepwd(chgpwd.value)">
                                                        Change Password </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END CHANGE PASSWORD TAB -->
                                            <!-- PRIVACY SETTINGS TAB -->
                                            <div class="tab-pane" id="tab_1_4">
                                                <form action="#">
                                                    <table class="table table-light table-hover">
                                                    <tr>
                                                        <td>
                                                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
                                                        </td>
                                                        <td>
                                                            <label class="uniform-inline">
                                                            <input type="radio" name="optionsRadios1" value="option1"/>
                                                            Yes </label>
                                                            <label class="uniform-inline">
                                                            <input type="radio" name="optionsRadios1" value="option2" checked/>
                                                            No </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                        </td>
                                                        <td>
                                                            <label class="uniform-inline">
                                                            <input type="checkbox" value=""/> Yes </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                        </td>
                                                        <td>
                                                            <label class="uniform-inline">
                                                            <input type="checkbox" value=""/> Yes </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                        </td>
                                                        <td>
                                                            <label class="uniform-inline">
                                                            <input type="checkbox" value=""/> Yes </label>
                                                        </td>
                                                    </tr>
                                                    </table>
                                                    <!--end profile-settings-->
                                                    <div class="margin-top-10">
                                                        <a href="javascript:;" class="btn green-haze">
                                                        Save Changes </a>
                                                        <a href="javascript:;" class="btn default">
                                                        Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END PRIVACY SETTINGS TAB -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<app-footer></app-footer>