<div class="click-to-edit">
  <div class="ndv-comp" [ngClass]="{'ndv-active': show}">
    <input tabindex="-1" *ngIf="show" type="text" [(ngModel)]="theValue" (keyup)="onKey($event)" />

    <div class="d-flex align-items-center" *ngIf="!show">
      <div class="click-to-edit-value" [class.selectable]="full === true" (click)="makeEditable()" [innerHTML]="theValue || 'empty'"></div>
    </div>
  </div>
  <div class="ndv-buttons" *ngIf="show">
    <button class="btn-x-sm" (click)="callSave()"><i class="fa fa-check"></i></button>
    <button class="btn-x-sm" (click)="cancelEditable()"><i class="fa fa-times"></i></button>
    <button class="btn-x-sm" (click)="callDelete()"><i class="fa fa-trash"></i></button>
  </div>
</div>
