<div class="portlet light">
  <div class="portlet-title">
    <div class="caption" style="width: 100%;">
      <div class="row">
        <div class="col-md-8">
          <span class="caption-subject font-green-sharp bold uppercase">{{ quiz.category | translate }}: {{ getTypeName(quiz.category, quiz.type) }}</span>
          <span class="font-blue-sharp bold">No: {{quiz.no}}</span>
        </div>
        <div class="col-md-4" *ngIf="isPreStep(step)">
          <h5 style="color:#09F;">{{ 'Preparation Time' | translate }}: {{remainingTime | converttimestamp }}</h5>
        </div>
        <div class="col-md-4" *ngIf="isMainStep(step)">
          <h5 style="color:#09F;">{{ 'Remain Time' | translate }}: {{remainingTime | converttimestamp }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <app-exercise-single-wsm
      *ngIf="quiz.type === 'WSM'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
    >
    </app-exercise-single-wsm>
    <app-exercise-single-wes
      *ngIf="quiz.type === 'WES'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
    >
    </app-exercise-single-wes>
    <app-exercise-single-lws
      *ngIf="quiz.type === 'LWS'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
      (finishAudio)="onAudioFinished($event)"
    >
    </app-exercise-single-lws>
    <app-exercise-single-lsa
      *ngIf="quiz.type === 'LSA'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
      (finishAudio)="onAudioFinished($event)"
    >
    </app-exercise-single-lsa>
    <app-exercise-single-ltw
      *ngIf="quiz.type === 'LTW'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
      (finishAudio)="onAudioFinished($event)"
    >
    </app-exercise-single-ltw>
    <app-exercise-single-lsb
      *ngIf="quiz.type === 'LSB'"
      [quiz]="quiz"
      [step]="step"
      (updateAnswer)="updateAnswer($event)"
      (finishAudio)="onAudioFinished($event)"
    >
    </app-exercise-single-lsb>
  </div>
  <div class="portlet-footer clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-pill-left yellow-gold" type="button" [disabled]="!isPostStep(step)" (click)="toggleSolution()" ><i class="fa fa-file-text-o fa-fw"></i> {{ (showSolution ? 'Hide' : 'Show') + ' Solution' | translate }} </button>
      <button class="btn btn-sm btn-pill-left btn-primary" type="button" [disabled]="!prevQuiz" (click)="selectPrevQuiz(prevQuiz)" ><i class="fa fa-arrow-left fa-fw"></i> {{ 'Previous' | translate }} </button>
      <button class="btn btn-sm btn-primary" type="button" *ngIf="started" [disabled]="!isPostStep(step)" (click)="restartExercise()"><i class="fa fa-stop fa-fw"></i> {{ 'Again' | translate }} </button>
      <button class="btn btn-sm btn-primary" type="button" *ngIf="!started" (click)="startExercise()"><i class="fa fa-play fa-fw"></i> {{ 'Start' | translate }} </button>
      <button class="btn btn-sm btn-pill-right btn-primary" type="button" [disabled]="!nextQuiz" (click)="selectNextQuiz(nextQuiz)">{{ 'Next' | translate }} <i class="fa fa-arrow-right fa-fw"></i> </button>
      <button class="btn btn-sm btn-pill-right btn-primary" type="button" (click)="onExit(quiz)"> {{ 'Exit' | translate }} <i class="fa fa-mail-reply-all fa-fw"></i> </button>
    </div>
  </div>
</div>
<div class="portlet light" *ngIf="showSolution">
  <div class="portlet-title">
    <div class="caption" style="width: 100%;">
      <span class="caption-subject font-green-sharp bold uppercase">{{ 'Solution' | translate }}</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row" style="padding: 0 15px;">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
