<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#"><img src="/assets/layout/img/logo-default.png" alt="logo" class="logo-default"></a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler" (click)="onMenuToggle($event)"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-language dropdown-dark" id="header_lang_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <!-- <i class="icon-calendar"></i> -->
                        <img src="/assets/global/img/flags/{{langflag}}.png"Footer>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="min-width: 130px; width: 130px;">
                            <li>
                                <a href="javascript:;" (click)="changeLang('en')">
                                <img src="/assets/global/img/flags/en.png"Footer> {{ 'English' | translate }} </a>
                            </li>
                            <li>
                                <a href="javascript:;" (click)="changeLang('zh')">
                                <img src="/assets/global/img/flags/cn.png"Footer> {{ 'Chinese' | translate }} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding-right: 10px;" [routerLink]="['/login']">
                        <span class="">Log In</span>
                        </a>
                    </li>
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <li class="dropdown dropdown-extended dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" [routerLink]="['/signup']">
                        <span class="">Registration</span>
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">
            <!-- BEGIN HEADER SEARCH BOX -->
            <form class="search-form" action="extra_search.html" method="GET">
                <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div> -->
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu ">
                <ul class="nav navbar-nav">
                    <li [ngClass]="(default=='home')?'active':''" >
                        <a href="javascript:;" [routerLink]="['/']"><i class="fa fa-home"></i> {{ 'Home' | translate }} </a>
                    </li>
                    <li [ngClass]="(default=='aboutus')?'active':''">
                        <a id="link_aboutus" href="javascript:;" [routerLink]="['/aboutus']"> {{ 'About Us' | translate }} </a>
                    </li>
                    <li [ngClass]="(default == 'contactus')?'active':''">
                        <a id="link_contactus" href="javascript:;" [routerLink]="['/contactus']"> {{ 'Contact Us' | translate }} </a>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->