<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="#"><i class="fa fa-graduation-cap"></i> Quiz </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link" >
                    <i class="fa fa-home"></i> {{ 'Home' | translate }} 
                </a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-navicon"></i> {{ 'Manage' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a *ngIf="usermanageable" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/manage']" [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-sdf"></i> {{ 'User' | translate }} 
                    </a>                    
                    <a *ngIf="quizmanageable" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/quizlist']" [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-sdf"></i> {{ 'Quiz' | translate }} 
                    </a>
                    <a *ngIf="testmanageable" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/test']" [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-sdf"></i> {{ 'Test' | translate }} 
                    </a>
                    <a *ngIf="examineemanageable" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/examinee']" [routerLinkActive]="['router-link-active']">
                        <i class="fa fa-sdf"></i> {{ 'Examinee' | translate }} 
                    </a>
                    <a *ngIf="evalmanageable" href="javascript:void(0)" class="dropdown-item" [routerLink]="['/eval']" [routerLinkActive]="['router-link-active']" >
                        <i class="fa fa-sdf"></i> {{ 'Evaluation' | translate }} 
                    </a>
                </div>
            </li>            
            <li class="nav-item" style="width:50px;"></li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh')">
                        {{ 'Chinese' | translate }}
                    </a>                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </li>
        </ul>
    </div>
</nav>
