<div class="quiz-guide">{{quiz.guide}}</div>
<div class="step-main" *ngIf="isMainStep(step)">
  <div class="quiz-content-audio">
    <soundcloud-player
      [iframeCode]="quiz.content.audio"
      (finish)="onFinish($event)"
    >
    </soundcloud-player>
  </div>
  <ul>
    <li *ngFor="let option of quiz.content.select.options; let i = index" class="radio">
      <label>
        <input type="radio" name="optionsChecks" (change)="toggleOption(i)"> {{option}}
      </label>
    </li>
  </ul>
</div>
