/*.main-container {
    margin-top: 56px;
    
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
.card-header > .caption-subject {
    font-size: 16px;
}
.font-green-sharp {
    color: #4DB3A2 !important;
}
.font-blue-steel {
    color: #4B77BE !important;
}
.font-purple-intense {
    color: #8775a7 !important;
}
.font-red-sunglo {
    color: #E26A6A !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.bold {
    font-weight: 700 !important;
}
.card-header > .caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.green-haze.btn {
    color: #FFFFFF;
    background-color: #44b6ae;
}
.btn-circle {
    border-radius: 15px !important;
}
.btn-arrow-link {
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.pull-right {
    float: right!important;
}
.btn-arrow-link a {
    text-shadow: none;
    color: #5b9bd1;
}
.btn-arrow-link > i {
    font-size: 14px;
    line-height: 14px;
    vertical-align: top;
    margin: 2px 3px 2px 3px;
    color: #999;
}
.btn.green-stripe {
    border-left: 3px solid #26a69a;
}
.btn.default {
    color: #333333;
    background-color: #E5E5E5;
}
.btn + .btn {
    margin-left: 5px;
}
.util-btn-margin-bottom-5 .btn {
    margin-bottom: 5px !important;
}
.btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}*/

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
}

.portlet > .portlet-title {
    border-bottom: 2px solid #bfb;
}

div.dataTables_scrollHeadInner,
div.dataTables_scrollHeadInner table,
div.dataTables_scrollBody table {
    width: 100% !important;
}