<div>
    <div class="open-card-BG" *ngIf="active_dashboard=='overview'">
         <app-overview-component></app-overview-component>
    </div>
    <div class="open-card-BG" *ngIf="active_dashboard=='student'">
         <app-student-component></app-student-component>
    </div>
    <div class="open-card-BG" *ngIf="active_dashboard=='teacher'">
         <app-teacher-component></app-teacher-component>
    </div>
    <div class="open-card-BG" *ngIf="active_dashboard=='manage'">
         <app-manage-component></app-manage-component>
    </div>
</div>